@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
}

@font-face {
  font-family: 'Glyphicons Halflings2';
  src: url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
}

@font-face {
  font-family: 'Glyphicons Halflings3';
  src: url('../components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
}

@font-face {
  font-family: 'Glyphicons Halflings4';
  src: url('/static/components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
}

.snowman:before { content: "☃"; }